<div class="container">
    <form class="mat-dialog-content" id="idFormModalidad" [formGroup]="formsActualiza">
        <div class="row">
            <mat-toolbar style="background-color: #1b9144;">
                <span>Actualizar Ticket</span>
            </mat-toolbar>
        </div>

        <div class="row" style="margin-top: 3%">
            <mat-form-field class="col-md-12">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="ticket.title" name="title"
                       formControlName="validateTitle" maxlength="100">
                <mat-hint style="color: red" *ngIf="formsActualiza.controls.validateTitle.touched">
            <span *ngIf="formsActualiza.controls.validateTitle.hasError('required')">
                  El titulo es requerido
            </span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="ticket.description" name="description"
                       formControlName="validateDescription" maxlength="100">
                <mat-hint style="color: red" *ngIf="formsActualiza.controls.validateDescription.touched">
            <span *ngIf="formsActualiza.controls.validateDescription.hasError('required')">
                  La descripcion es requerido
            </span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="validateKind" (selectionChange)="changeKind($event.value)"
                            [(value)]="selectedValueKind" [compareWith]="compararElementos">
                    <mat-option value="">[Seleccione]</mat-option>
                    <mat-option *ngFor="let kind of kinds" [value]="kind.id">{{ kind.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <mat-label>Usuario</mat-label>
                <mat-select formControlName="validateUser" (selectionChange)="changeUser($event.value)"
                            [(value)]="selectedValueUser" [compareWith]="compararElementos">
                    <mat-option value="">[Seleccione]</mat-option>
                    <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <mat-label>Proyecto</mat-label>
                <mat-select formControlName="validateProject" (selectionChange)="changeProject($event.value)"
                            [(value)]="selectedValueProject" [compareWith]="compararElementos">
                    <mat-option value="">[Seleccione]</mat-option>
                    <mat-option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="validateCategory" (selectionChange)="changeCategory($event.value)"
                            [(value)]="selectedValueCategory" [compareWith]="compararElementos">
                    <mat-option value="">[Seleccione]</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <mat-label>Prioridad</mat-label>
                <mat-select formControlName="validatePriority" (selectionChange)="changePriority($event.value)"
                            [(value)]="selectedValuePriority" [compareWith]="compararElementos">
                    <mat-option value="">[Seleccione]</mat-option>
                    <mat-option *ngFor="let priority of priorities" [value]="priority.id">{{ priority.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="validateStatus" (selectionChange)="changeStatus($event.value)"
                            [(value)]="selectedValueStatus" [compareWith]="compararElementos">
                    <mat-option value="">[Seleccione]</mat-option>
                    <mat-option *ngFor="let status of statuss" [value]="status.id">{{ status.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-raised-button type="submit" (click)="actualiza()" color="primary"
                        [disabled]="formsActualiza.invalid">Actualizar
                </button>
                <button mat-button color="primary" (click)="salir()">Salir</button>
            </div>
        </div>
    </form>

</div>
