<div>

    <div class="row">
        <mat-toolbar style="background-color: #1b9144;">
            <span>Lista de Usuarios</span>
        </mat-toolbar>
    </div>

    <div class="row" style="margin-top: 3%">
        <button mat-raised-button color="primary" type="button" (click)="openAddDialog()" class='btn btn-primary btn-sm'
                id="id_btn_registrar" style="width: 200px">Registrar Usuario
        </button>
    </div>

    <div class="row" style="margin-top: 3%">
        <mat-table #table class="mat-cell" [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.id }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="username">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.username }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Nombres</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastname">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Apellidos</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.lastname }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Correo</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.email }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="password" >
                <mat-header-cell mat-header-cell *matHeaderCellDef>Contraseña</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.password }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.isActive ? "Activo" : "Inactivo" }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="kind">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.kind }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>

                <mat-cell *matCellDef="let aux; let i=index;">

                    <button mat-icon-button color="accent" id="btn_editar" (click)="openUpdateDialog(aux)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" id="btn_eliminar" (click)="elimina(aux)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>

                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
        </mat-table>

    </div>

</div>